.h3-login {
  font-size: 18px;
  font-weight: 700;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.login-links {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.0125em;
  text-align: center;
  text-decoration: underline;
  color: #190766;
  margin: 0 1rem;
  margin-top: 3rem;
}
