@use "./../../sass/typography.scss";
@import "../../sass/colors.scss";

.form_wrapper {
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &-secondary {
    align-self: center;
    display: flex;
    flex-direction: column;
  }
}

.form-control {
  width: 30vw;
  padding: 0.75rem;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.margin-form-divider {
  margin: 3vh !important;
}

.myLogin-btn {
  width: 30vw;
  background: var(--color-primary);
  color: $white;
  padding: 0.75rem;

  @extend .h3-login;

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  &:hover {
    color: var(--color-primary);
    background: $offWhite;
    border: 2px solid $purple;
  }
}

.myLogin-secondary {
  width: 15vw;
  padding: 0.7rem 0.5rem;
  background: $offWhite;
  color: var(--color-primary);
  border: none;
  align-self: center;
  @media screen and (max-width: 768px) {
    width: 50%;
  }

  &:hover {
    background: var(--color-primary);
    color: $offWhite;
  }
}

.logo_imgL {
  justify-self: center;
  align-self: center;
  margin: 2.8vh 0;
}

.heading-textLogin {
  justify-self: center;
  align-self: center;
  margin: 2.8vh 0;
  color: $deepBlue;
  font-weight: 700;
}

.forgot-text {
  justify-self: center;
  align-self: center;
  font-size: 15px;
  color: var(--color-primary);
}

.form-label {
  color: $deepBlue !important;
}

.what-is {
  display: flex;
  justify-content: space-between;
}

.myLinks {
  @extend .login-links;
}

.mTop {
  margin-top: 1rem;
}

.line-absolute {
  position: absolute;
  top: 73%;
  width: 65%;
  left: 18%;
  border: 1px solid $offWhite;
}

.myHeight {
  height: 100vh;
}
